.faq-container {
  min-height: 100vh;
  background: #55B4B0;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  border-radius: 20px;
}

.faq-header {
  text-align: center;
  margin-bottom: 50px;
}

.faq-header h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 900;
}

.intro {
  font-size: 19px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
  background: rgba(2, 2, 1, 0.123);
  border-radius: 10px;
}

.intro strong {
  color: yellow;
  font-weight: 800;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}
h1{
  color: yellow;
}
.faq-item {
  background: rgba(2, 2, 1, 0.123);
  border-radius: 15px;
  padding: 30px;
  transition: transform 0.3s ease;
}

.faq-item:hover {
  transform: translateY(-5px);
}

.faq-item h3 {
  color: #ffd85d;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 15px;
}

.faq-item p {
  margin: 0;
  font-size: 16px;
}

.faq-item a {
  color: #ffd85d;
  text-decoration: none;
  font-weight: 700;
}

.faq-item a:hover {
  color: white;
}

.placeholder {
  border: 3px dashed #ffffff50;
  background: darkgray;
  opacity: 0.7;
  text-align: center;
}

.placeholder:hover {
  opacity: 0.9;
}

.placeholder h3 {
  color: #ffd85d;
  justify-content: center;
  font-size: 24px;
}

.placeholder p {
  color: #dddddd;
  font-style: italic;
}

@media (max-width: 900px) {
  .faq-container {
    padding: 40px 15px;
  }
  
  .faq-header h1 {
    font-size: 35px;
  }
  
  .intro {
    font-size: 18px;
    padding: 15px 20px;
  }
  
  .faq-grid {
    
    gap: 25px;
  }
  
  .faq-item {
    padding: 25px;
  }
}