
<footer class="footer">
  <div class="content">
    <div class="section">
      <div class="icon"><span class="material-icons">face</span></div>
      <div class="text">
        <strong>Az oldalt készítette:</strong>
        <br/>
        Tóth Norbert
        <br>
        Üzemmérnök-Informatikus hallgató
      </div>
    </div>

    <div class="section">
      <div class="text">
        <strong><img src="../../../assets/fottballball.jpg" alt="" srcset=""> <br />FCM DAPP</strong>
      </div>
    </div>

    <div class="section">
      <div class="icon"><span class="material-icons">mail</span></div>
      <div class="text">
        <strong>Elérhetőség:</strong><br />
        <a href="mailto:info@example.com">h270245&#64;stud.u-szeged.hu</a>
      </div>
    </div>

  </div> 
  <br>


</footer>