footer {
  padding: 2rem 2rem 1.5rem;
  box-sizing: border-box;
  background-color: #E3CCAE;

}

.content,
.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.section {
  display: flex;
  flex: 1 1 240px;
  align-items: flex-start;
  gap: 10px;
}

img{
  height: 45px;
  width: 45px;
  border-radius: 50%

 }

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: black;
}

@media (max-width: 768px) {
 

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .section p,
  .section div,
  .footer-bottom {
    font-size: 15px;
   
  }

  .section {
    flex: 1 1 100%;
  }
}


