<div class="container">
  <div class="section">
    <h1>Üdvözllek a <span>FCM DAPP</span> oldalán!</h1>
    <p>
      Ez egy olyan szerződéskezelő rendszer, ahol a csapatok és játékosok <strong>blokkláncon</strong> kezelhetik szerződéseiket.
    </p>

    <div class="buttons">
      <a routerLink="/register" class="btn primary">Regisztráció</a>
      <a routerLink="/login" class="btn secondary">Bejelentkezés</a>
    </div>
  </div>

  <div class="features">
    <div class="feature-box">
      <h3>Csapatoknak</h3>
      <p>
        Hozzd létre saját csapatodat, igazolj játékosokat, kezeld a szerződéseiket
        biztonságosan blokkláncon.
      </p>
    </div>
    <div class="feature-box">
      <h3>Játékosoknak</h3>
      <p>
        Regisztrálj az oldalra, keress magadnak saját csapatot.
      </p>
    </div>
    <div class="feature-box">
      <h3>Az oldalról</h3>
      <p>
        Minden egyéb fotos információt a <a routerLink="/app-faq" routerLinkActive="active-link" >FAQ</a> oldalon megtalálsz.
      </p>
    </div>
  </div>
</div>